{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {%if app.user%}
        <h1>Hello {{ app.user.email }} 👋</h1>

        Are you ready to start some tasks?

        <h3>Tasks due today/tomorrow</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for task in urgentTasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.deadline ? task.deadline|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ task.status }}</td>
                    <td>
                        <a href="{{ path('app_task_show', {'id': task.id}) }}" class='actionButton'>show task</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no tasks due today/tomorrow</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3>Tasks with high priority</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for task in highPriority %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.deadline ? task.deadline|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ task.status }}</td>
                    <td>
                        <a href="{{ path('app_task_show', {'id': task.id}) }}" class='actionButton'>show task</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no tasks with high priority</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3>Open tasks</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for task in openTasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.deadline ? task.deadline|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ task.status }}</td>
                    <td>
                        <a href="{{ path('app_task_show', {'id': task.id}) }}" class='actionButton'>show task</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no tasks with high priority</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <h1>Welcome 👋</h1>
    <h3>Login or create an account to manage your tasks</h3>
    {% endif %}
</div>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/styles/css/task.css') }}">
    {% endblock %}
{% endblock %}
