{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

    {% block body %}
    <div class="registerDiv">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        {{ form_errors(registrationForm) }}

        <h1>Create an account</h1>
        {{ form_start(registrationForm) }}
        <table id='registerTable'>
            <tr>
                <th>
                    Email
                </th>
                <td>
                    {{ form_row(registrationForm.email, {
                      label: ' '
                      }) }}
                </td>
            </tr>
            <tr>
                <th>
                    Password
                </th>
                <td>
                    {{ form_row(registrationForm.plainPassword, {
                       label: ' '
                       }) }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        {{ form_widget(registrationForm.agreeTerms) }}
                        Agree to the terms
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="actionButton">Register</button>
                </td>
            </tr>
        </table>
        {{ form_end(registrationForm) }}
    </div>
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/styles/css/task.css') }}">
{% endblock %}
{% endblock %}
