{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <div class='tasksDiv'>
        <h1>Task index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.deadline ? task.deadline|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.priority }}</td>
                    <td>
                        <a href="{{ path('app_task_show', {'id': task.id}) }}" class='actionButton'>show task</a>
                        <a href="{{ path('app_task_edit', {'id': task.id}) }}" class='actionButton'>edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_task_new') }}" class='buttonNew'>Create new</a>
    </div>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/styles/css/task.css') }}">
    {% endblock %}
{% endblock %}
